[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-socketio = {extras = ["asyncio_client"], version = "*"}
pyjwt = "*"
python-decouple = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi-socketio = "*"
aiohttp = "*"
websockets = "*"
slowapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
